.custom-shadow-light {
  box-shadow: $custom-shadow-light;
  transition: box-shadow 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.app-container {
  max-width: $container-max-width;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
